body{
    background-color: #FFC5D3;
}

.intro {
    background-color: red;
    font-family: 'Neo Tech';
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

#calculator{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: rgb(144, 144, 226);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    width: 400px;
    gap: 10px;
}

.container button {
    width: calc(25% - 10px);
    height: 70px;

    font-size: 20px;
    font-weight: bold;

    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#display{
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    background: grey;
    align-items: center;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 15px;
    font-size: 24px;
    font-weight: bold;
}

#topDisplay{
    width: 400px;
    height: 25px;
    background: grey;
    align-items: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 15px;
    font-size: 18px;
}